@import url('https://fonts.googleapis.com/css?family=Satisfy');


html, body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background: #F9F9F9;
}

section
{
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.navbar {
  padding: 0;
  background: #ECECEC;
  border-bottom: 1px solid #bbb; 
}

.container-fluid
{
  padding:0;
}

.nav-item:nth-child(1){
  border-left: 1px solid #bbb;
}

.nav-item{
  display: inline-block;
  list-style-type: none;
  border-right: 1px solid #bbb;
}

.nav-item .nav-link{
  color: #333;
  font-size: 10pt;
  display: block;
}

 .nav-item .nav-link:hover {
   background-color: white;
 }

 .active {
  background-color: #DFDFDF;
 }

 
 .navbar-expand-lg .navbar-nav .nav-link {
      padding: 1.4rem;
  }

 .wrapper {
   max-width:1000px;
   margin: 0 auto;
 }
 .wrapper-navbar {
   max-width:1500px;
   margin: 0 auto;
 }


/*++++++++++++++++++++++++++++++++ REDUNDANT CLASSES ONLY TO BE USED INCASE OF REPONSIVE ELEMENTS TO AVOID INLINE-STYLING +++++++++++++++++++++++++++++++++++++++++++*/
 .font-12
 {
  font-size: 12px;
 }
 .font-15
 {
  font-size: 15px;
 }
 .font-18
 {
  font-size: 18px;
 }
 .font-20
 {
  font-size: 20px;
 }
 .font-13
 {
  font-size: 13px;
 }
 .font-28
 {
  font-size: 28px;
 }
 .font-75
 {
  font-size:75px;
 }
  .font-45
 {
  font-size:45px;
 }
  .font-50
 {
  font-size:50px;
 }
 .text-center
 {
  text-align: center;
 }
 .padding-10
 {
  padding: 10px;
 }
 .padding-20
 {
  padding: 20px;
 }
 .margin-top-10
 {
  margin-top: 10px;
 }
 .margin-left-70
 {
  margin-left: 70px;
 }
 .margin-left-10
 {
  margin-left: 10px;
 }
 .width-60
 {
  width:60%;
 }
 .width-85
 {
  width:85%;
 }
 .width-50
 {
  width:50%;
 }
 .line-h-300
 {
  line-height: 300px;
 }
 .line-h-250
 {
  line-height: 250px;
 }
 .height-500
 {
  height: 500px;
 }
 .height-300
 {
  height: 300px;
 }
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


 .navbar-toggler {
    background: url("../images/mobile_menu.png") no-repeat center center;
    margin-right: 10px;
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 11;

}

#navbarNavDropdown
{
  z-index: 10;
}

.logo {
  position: relative;
  margin-right: 100px;
  letter-spacing: 5px;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}

.logo::after {
  content: ".info";
  border: none;
  letter-spacing: 1px;
  position: absolute;
  right: -12px;
  bottom: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}

.logo:hover {
  cursor: pointer;
}

 #content {
   background: #F9F9F9;
   padding: 4rem 1rem;
   overflow: hidden;
 }

 .img-box {
   margin-bottom: 10px;
 }

 .img-box img:hover {
  cursor: pointer;

 }

 .info {
   padding-top: 7px; 
 }

 .info span {
   color: #A7A7A7;
   margin-left: 10px;
 }

 .more-info a {
   color: #333;
   font-size: 25px;
   margin: 2px 10px;
 }
 
 footer {
    background: #333333;
    color: #fff;
    position: relative;
    width: 100%;
    bottom: 0;
    font-size: 13px;
 }

 .top-banner
 {
    background: url( "../images/hostel_image_1.jpg");
    background-attachment: fixed;
    width: 100%;
    text-align: center;
 }

 .banner-label
 {
    font-family: 'Satisfy', cursive;
    color: white;
    font-weight: bold;
    padding: 3%;
    background: rgba(0,0,0,0.4);
    border-radius: 25px;
 }

 .banner-input
 {
  height: 30px;
  margin:auto;
  text-align: center;
  border:none;
 }

 .fa-crosshairs
 {
  opacity: 0.7;
  transition: color 0.1s ease-in-out, transform 0.1s ease-in-out;
  vertical-align: middle;
 }
 .fa-crosshairs:hover
 {
  cursor: pointer;
  color: black;
  transform: scale(1.25, 1.25);
 }

 .banner-input-wrapper
 {
  background-color: white;
  padding: 10px;
  border-radius: 3px;
 }

 .text-block
 {
  font-weight: bold;
  color: grey;
  padding: 30px;
  display: inline-block;
  text-align: center;
 }

 .image-block
 {
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
 }

 .image-block:hover
 {
  cursor: pointer;
  opacity: 1;
  transform:scale(1.01,1.01);
 }

 .image-holder
 {
  background: black; 
  transition: transform 0.2s ease-in-out;
 }

 .image-holder
 {
  transform:scale(1.01,1.01);
 }

 a
 {
  color: inherit;
  text-decoration: inherit;
 }
 a:hover
 {
  color: inherit;
  text-decoration: inherit;
 }

 .custom-link:hover
 {
  color:black;
 }

 .table-sm
 {
  font-size: 12px;
 }


@media only screen and (max-width: 991px) {
  .navbar 
  {
    position: relative;
    z-index: 10;
  }
  .nav-item {
    width: 100vw;
  }
}

/* Longin, signup and forgot password */
.logo-container {
  box-sizing: border-box;
}

input:focus {
  outline: 0;
}

/* admin-hostel page */
.hover-pointer:hover
{
 cursor: pointer;
}

.list-group-item
{
  background: white;
}

#admin-tab .image-wraper
{
  width: 120px;
  height: 70px;
}

#admin-tab .button-section button
{
  margin-bottom: 2px;
  color: white;
}

/*contect us*/

.vertical-align {
	margin-top: 160px;
}

.input-group
{
  position: relative;
}

.loader-gif
{
  position: absolute;
  right: 5px;
  top: 2px;
  z-index: 10;
}

.image-wraper img
{
  transition: opacity .5s linear;
}

.image-wraper img:hover {
  cursor: pointer;
  opacity: .8;
}

/* logo header */
.logo-header
{
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1;
}